.import-modal-body {

  section {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  .alert {
    &__title {
      color: inherit;
      font-weight: bold;
    }

    &__text {
      color: inherit;
    }
  }
}